.newProduct {
    flex: 4;
    margin-left: 100px;
  }
  
  .addProductForm {
    margin-top: 10px;
    display : grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .addProductItem {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .addProductItem__avatar{
    display: flex;
    align-items: center;
  }

  .addProductItem__avatar img{
    display:block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .addProductItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .addProductItem__avatar label {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .addProductItem > input {
    padding: 10px;
  }
  
  .addProductItem > select {
    padding: 10px;
  }
  
  .addProductButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }

  .addProductForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .addProductForm__bottom{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }

  .error{
    color :red;
    font-size: 20px;
  }